.navbar{
     color: rgb(24, 9, 9);
    margin: 0px;
    /* position:sticky; */
    top: 0;
    padding-top: 0;
    padding-bottom: 0;
}
.nav-link
{
    color: rgb(244, 250, 255);
    font-size: 20px;
    font-family:Arial, Helvetica, sans-serif;
}
a.nav-item{
       margin-left: 100;
}
:hover.nav-link
{
    color: rgb(255, 0, 0);
}

.container-fluid{
    height: 70px;
    background-color:black;
}
.navbar-brand
{
    font-size: 25px;
    color: red;
    font-style:bold;
}

:hover.navbar-brand
{
   color: aliceblue; 
}
.dropdown-item{
    background-color: chocolate;
    color: greenyellow;
}
/* Login css */
.popup {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
    }
    
    .popup-inner {
    background-color: white;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    width: 40%;
    }
    
    .popup-inner h2 {
    margin-top: 0;
    }
    
    .popup-inner label {
    display: block;
    margin-bottom: 10px;
    }
    
    .popup-inner input {
    width: 100%;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
    }
    
    .popup-inner button[type="submit"],
    .popup-inner button[type="button"] {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-right: 10px;
    cursor: pointer;
    border-radius: 5px;
    }
    
    .popup-inner button[type="submit"]:hover,
    .popup-inner button[type="button"]:hover {
    background-color: #45a049;
    }
    
    .popup-inner button[type="submit"] {
    margin-top: 20px;
    }
    
    .popup-inner button[type="button"] {
    margin-top: 20px;
    background-color: #f44336;
    }
    
    .popup-inner button[type="button"]:hover {
    background-color: #da190b;
    }
    
    .popup-inner button[type="submit"]:disabled {
    background-color: #bfbfbf;
    color: #ffffff;
    cursor: not-allowed;
    }
    
    .popup-inner button[type="button"]:disabled {
    background-color: #bfbfbf;
    color: #ffffff;
    cursor: not-allowed;
    }
    /* css Mainlogin */
    /* BackgroundPage.css */
.background-page {
    position: relative;
    height: 100vh; /* Adjust as needed */
    overflow: hidden;
  }
  
  .background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1; /* Ensure the image is behind other content */
  }
  /*create account*/
  .form-label{
    color: #ccc;
  }
  /* brand page css */
  .card-body{
    background-color: rgb(28, 27, 27);
  }
  .card-title{
    color: #ffffff;
  }
  .card-text{
    color: #da190b;
  }
  .link1{
    background-color:black;
    color: #fff;
    padding: 10px 20px;
    margin: 8%;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  .link1:hover{
    background-color: #ef0d0d85; 
  }
  /* model info */
 .aboutR{
  margin:30px;
  font-family: cursive;
 }
  .h2{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  }
  .sp{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 15px;
  }