/* Google Fonts - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

html{
    font-size: 62.5%; /* 1rem = 10px */
    scroll-behavior: smooth;
}
:root{
/* Font Sizes & Family */
/* if we set html's font size 62.5% then 1rem = 10px */

--body-font: 'Poppins', sans-serif;

--big-font: 4rem;
--h1-font: 3.6rem;
--h2-font: 2.4rem;
--h3-font: 2rem;
--h4-font: 1.8rem;
--normal-font: 1.6rem;
--small-font: 1.4rem;
--smaller-font: 1.3rem;

/* Font Weight ***/
--font-regular: 400;
--font-medium: 500;
--font-semi-bold: 600;

/* Color Variables */
--primary-color: #C87E4F;
--primary-color-hover: #C2703D;
--text-color: #333;
--text-color-light: #888682;
--border-color: #484848;
--white-color: #FFF;
--section-bg: #2C3034;

/* z-index */
--z-overlay: 10;
--z-fixed: 100;

/* transition */
--tran-0-2: 0.2s;
--tran-0-3: 0.3s;
--tran-0-5: 0.5s;
}
body {
  overflow-x: hidden;
  font-family: 'Noto Sans JP', sans-serif;
  background-color: #ffffff;
}
/* Custom Scrollbar */
::selection{
  background-color: var(--primary-color);
  color: var(--white-color);
}
::-webkit-scrollbar{
  width: 8px;
}
::-webkit-scrollbar-track{
  background-color: #ffffff;
}
::-webkit-scrollbar-thumb{
  border-radius: 1rem;
  background-color: var(--primary-color);
}
::-webkit-scrollbar-thumb:hover{
  border-radius: 1rem;
  background-color: var(--primary-color-hover)
}

body,
button,
input{
  font-family: var(--body-font);
  font-size: var(--normal-font);
  font-weight: var(--font-regular);
  color: var(--text-color);
}

input{
  outline: none;
}
ul{
  list-style: none;
}
a{
  text-decoration: none;
}
img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}


/* Footer */
.footer{
  padding: 4rem 2rem 3rem;
  background-color: var(--section-bg);
}
.footer .content-description,
.footer .map-icon,
.footer .location-text{
  color: var(--text-color-light);
}
.footer-container{
  display: grid;
  grid-template-columns: 1fr 2fr;
  column-gap: 2rem;
  align-items: center;
}
.footer-content{
  display: grid;
  row-gap: 3rem;
}
.footer .logo-text,
.footer .logo-icon{
  color: var(--text-color-light);
  font-size: 2rem;
  font-weight: var(--font-medium);
}
.footer .logo-icon{
  font-size: 3rem;
}
.footer .content-description,
.footer .location-text{
  text-align: left;
  font-size: var(--small-font);
}
.footer .map-icon{
  font-size: 3rem;
  margin-right: 1rem;
}
.footer-linkContent{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  justify-items: end;
}
.footer-links{
  display: grid;
  row-gap: 0.9rem;
  font-weight: var(--font-medium);
  color: var(--white-color);
}
.footer-link{
  font-size: var(--small-font);
  color: rgba(255, 255, 255, 0.5);
  transition: var(--tran-0-3);
}
.footer-link:hover{
  color: rgba(255, 255, 255, 0.8);
}
.footer-copyRight{
  max-width: 970px;
  margin: 0 auto;
  text-align: center;
  padding-top: 3rem;
  margin-top: 3rem;
  font-size: var(--small-font);
  border-top: 2px solid var(--text-color-light);
  color: rgba(255, 255, 255, 0.8);;
}


/* Scroll Up */
.scrollUp-btn{
  position: fixed;
  bottom: -30%;
  right: 3rem;
  height: 3rem;
  width: 3rem;
  font-size: 2rem;
  border-radius: 4px;
  color: var(--primary-color-hover);
  cursor: pointer;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
  background-color: var(--white-color);
  z-index: var(--z-overlay);
  justify-content: center;
  transition: var(--tran-0-3);
}
.scrollUpBtn-active{
  bottom: 3rem;
}
.scrollUp-icon{
  opacity: 0.9;
  transition: var(--tran-0-3);
}
.scrollUp-btn:hover .scrollUp-icon{
  opacity: 1;
}
/* Contact Us */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

.contactus {
  position: relative;
  z-index: 3;
  padding-top: 50px;
  padding-bottom: 50px;
}

.container {
  max-width: 1080px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}

.section-header {
  margin-bottom: 50px;
  text-align: center;
}

.section-header h2 {
  color: black;
  font-weight: bold;
  font-size: 3em;
  margin-bottom: 20px;
}

.section-header p {
  color: black;
}

.row  {
  display: flex;
  flwx-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.contact-info {
  width: 50%;
}

.contact-info-item {
  display: flex;
  margin-bottom: 30px;
}

.contact-info-icon {
  height: 70px;
  width: 70px;
  background-color: #fff;
  text-align: center;
  border-radius: 50%;
}

.contact-info-icon i {
  font-size: 30px;
  line-height: 70px;
}

.contact-info-content {
  margin-left: 20px;
}

.contact-info-content h4 {
  color: #C87E4F;
  font-size: 1.4em;
  margin-bottom: 5px;
}

.contact-info-content p {
  color: black;
  font-size: 1em;
}

.contact-form {
  background-color: #fff;
  padding: 40px;
  width: 45%;
  padding-bottom: 20px;
  padding-top: 20px;
}

.contact-form h2 {
  font-weight: bold;
  font-size: 2em;
  margin-bottom: 10px;
  color: #333;
}

.contact-form .input-box {
  position: relative;
  width: 100%;
  margin-top: 10px;
}

.contact-form .input-box input,
.contact-form .input-box textarea{
  width: 100%;
  padding: 5px 0;
  font-size: 16px;
  margin: 10px 0;
  border: none;
  border-bottom: 2px solid #333;
  outline: none;
  resize: none;
}

.contact-form .input-box span {
  position: absolute;
  left: 0;
  padding: 5px 0;
  font-size: 16px;
  margin: 10px 0;
  pointer-events: none;
  transition: 0.5s;
  color: #666;
}

.contact-form .input-box input:focus ~ span,
.contact-form .input-box textarea:focus ~ span{
  color: #e91e63;
  font-size: 12px;
  transform: translateY(-20px);
}

.contact-form .input-box input[type="submit"]
{
  width: 100%;
  background:#C87E4F;
  color: #FFF;
  border: none;
  cursor: pointer;
  padding: 10px;
  font-size: 18px;
  border: 1px solid #C87E4F;
  transition: 0.5s;
}

.contact-form .input-box input[type="submit"]:hover
{
  background: #FFF;
  color: #C87E4F;
}

@media (max-width: 991px) {
.section {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  
  .row {
    flex-direction: column;
  }
  
  .contact-info {
    margin-bottom: 40px;
    width: 100%;
  }
  
  .contact-form {
    width: 100%;
  }
}

